	/*BODY*/

body
{
  background-color: #ffffff;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  color: #110000;
  width: 1000px;
  margin: auto;
}

.container
{
  margin: 30px;   /* Espacement entre container */
}

hr
{
  width: 100%;
}


	/* NAVIGATION - NAVBAR */


.navbar-brand 
{ 
  font-size: 2em;
}

.nav-link
{
  font-size: 1em;
}


  /* SLIDESHOW - CARROUSEL */

.carousel-caption h1, .carousel-caption p
{
  font-size: 1.7em;
  color: white;
}

.carousel-item img
{
  width: 300px;
  height: 300px;
}


 /* FELLOWS */
.fellowstitre h2
{
  color: #545454;
  font-size: 2em;
}

  /* boutons visibles - invisibles */
.rewardone
{
  width: 225px;
  background: white;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
  margin: 10px;
  padding: 1%;
  position: absolute;
  z-index: 10;
  color: #545454;
  font-weight: bold;
  text-align: center;
}

.card:hover .rewardone
{
  opacity: 0;
}

.cible img
{
  opacity: 0.3;
}

.cible img:hover
{
  opacity: inherit;
}


    /* PILLS */

.nav-pills a 
{
  background-color: white;
  color : grey;
  font-size: 1.5em;
}

.nav-pills
{ 
  display: flex;
  justify-content: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link
{
  color: white;
  background-color: grey;
}

  /* CARDS */

.card, .card-img-top
{
  border-radius: 15px;
}

/* GET MY REWARDS */

.btn-outline-dark
{
  width: 200px;
  text-align: center;
  margin: 0px auto;

}
  

/* BEST HUNTERS */

.media img
{
  width: 110px;
  height: 110px;
}

.btn-block
{
  width: 60px
}


/* THE RING */

.card
{
  margin-top: 20;
}

.blockquote p
{
  font-size: 0.6em;
  color: grey;
}

    /*TABLEAU*/
table
{
  border-collapse: collapse;
  width: 90%;
  margin:auto;
  height: auto;
  text-align: center;
  font-weight: bold;
  position: relative;
  margin-bottom: 10px;
}
tr td
{
  border: 2px solid #545454;
  width: 45%;
  height: 30px;
}

/* JOIN THE ARMY */

/* CONTACT US */

textarea 
{
    max-width: 100%;
}



/* FOOTER */





